*{
    background-color: rgb(110, 197, 168);
    color:rgb(5, 1, 1);
    text-align: center;
    font-family: 'Silkscreen';
}

#imgperfil{
    border-radius: 50%;
    border:solid 10px;
    border-color: rgb(34, 30, 30);
}

.titulos{
    font-size: 200%;
    font-style: italic;
}

h2{
    font-size: 300;
}

#biografia{
    width: 70vw;
    text-align: center;
    margin-left: 15%;
}
   
.divInline{
    display: block;
}

#familia{
    display: inline-block;
}

#filmografia{
    display:inline-block;
}

#biografia{
    display: inline;
}

.flexelemento{
    width: 200px;
    height: 200px;
    background-color: beige;
    margin: 15px;
    color: black;
    font-size: 500%;

}
.flexcontenedor{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
